backports.functools-lru-cache==1.4
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.1.1
h5py==2.7.1
html5lib==0.9999999
idna==2.5
Keras==2.1.2
keras-adversarial==0.0.3
Markdown==2.6.9
matplotlib==2.1.0
mock==2.0.0
numpy==1.13.3
olefile==0.44
pbr==3.1.1
Pillow==4.3.0
protobuf==3.5.0
psycopg2==2.7.3
pydub==0.20.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.1.13
subprocess32==3.2.7
tensorflow-gpu==2.3.1
tensorflow-tensorboard==0.4.0rc3
urllib3==1.22
Werkzeug==0.12.2
