certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
idna==2.5
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3
pydub==0.20.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.3
scipy==1.0.0
six==1.11.0
SQLAlchemy==1.1.13
urllib3==1.22
